aiohttp
aiosignal
attrs
blinker
Brotli
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Cors
frozenlist
g4f
idna
itsdangerous
Jinja2
MarkupSafe
multidict
pycryptodome
pymongo
requests
urllib3
Werkzeug
yarl
flask_mail
gunicorn
